.filter[data-v-483ce192] {
 border-radius:2em;
 display:flex;
 flex-flow:row;
 flex-wrap:wrap;
 overflow:hidden
}
.filter__item[data-v-483ce192] {
 border:none;
 background:0 0;
 color:#fff;
 font-weight:700;
 font-size:1.25rem;
 text-transform:uppercase;
 letter-spacing:.1rem;
 padding:.75rem 2rem;
 transition:background-color .25s ease;
 text-align:center;
 flex:auto
}
.filter__selected[data-v-483ce192] {
 background-color:#506ee3
}
.group[data-v-1db4b6f8] {
 display:flex;
 flex-wrap:wrap
}
.group__value[data-v-1db4b6f8] {
 margin-right:1em
}
.group-scale-enter-active[data-v-1db4b6f8],
.group-scale-leave-active[data-v-1db4b6f8] {
 transition:opacity .5s ease,transform .15s ease
}
.group-scale-enter-from[data-v-1db4b6f8],
.group-scale-leave-to[data-v-1db4b6f8] {
 opacity:0;
 transform:scaleX(0);
 width:0;
 padding:0;
 margin:0
}
.trash[data-v-7ee06c35]:hover {
 color:#f13a3a
}
.config[data-v-7ee06c35] {
 display:flex;
 flex-flow:column;
 width:100%;
 max-width:300px;
 background:#1e1e1e;
 border-radius:1em;
 padding:1em;
 overflow:hidden;
 flex:auto
}
.config__title[data-v-7ee06c35] {
 text-align:center;
 margin-bottom:1em
}
.config__description[data-v-7ee06c35] {
 overflow:hidden;
 overflow-wrap:break-word
}
.config__end[data-v-7ee06c35] {
 align-items:flex-end;
 flex:auto
}
